html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
}

h1 {
    color: coral;
    font-weight: bolder;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
}

.buttons-container {
    display: flex;
    gap: 50px;
}

.squares-prompt,
.painting-choice {
    background-color: beige;
    color: orangered;
    text-decoration: none;
    border: 1px solid burlywood;
    border-radius: 7px;
    font-size: 15px;
    font-weight: lighter;
    padding: 9px;
    margin-bottom: 25px;
    margin-top: 30px;
    text-transform: uppercase;
    width: 300px;
}

.painting-choice.color-grey {
    background-color: gray;
    color: white;
}

.drawing-board {
    display: flex;
    width: 760px;
    flex-wrap: wrap;
    border: 1px solid gray;
}

.square {
    opacity: 0.1;
}

